.data_type{
    width: 15%;
}

.python_syntax{
    width: 10%;
}

.description{
    width: 25%;
}

.example{
    width: 20%;
    padding-left: 0%;
}

.badge {
    font-size: 1.1em;
    padding: 0.25em 0.5em;
}

footer {
    position: fixed;
    /* left: 0; */
    right: 0;
    bottom: 0;
    width: 15%;
    background-color: #333;
    /* background-color: #fff; */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* input[type="radio"]:checked{
    background-color: hotpink;
} */