body {
    background: lightblue
}

footer {
    position: fixed;
    /* left: 0; */
    right: 0;
    bottom: 0;
    width: 15%;
    background-color: #333;
    /* background-color: #fff; */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
